@model IEnumerable<SocialNet.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Title)
            </a>
            <span>from: @Html.DisplayFor(modelItem => item.OriginalPoster.UserName)</span>
        </li>
    }
</ul>
